@headerHeight: 70px;

@colorMainBackground: #fffef6;
@colorBrown: #2d2624;
@colorWindowBackground: #f0efeb;
@colorTextLight: #e1dfd4;

@import "coffee/header";

html {
   height: 100%;
   box-sizing: border-box;

   body {
      background-color: @colorMainBackground;
   }
}