@import "../common/common";

.container-fluid.main-container {
   padding: 150px 30px 0 30px;

   max-width: 1100px;

   .form {
      .description {
         font-size: 23px;
         font-weight: 600;
         margin-bottom: 10px;
      }

      .control-label {
         padding-left: 40px;
         text-align: left;
         font-weight: 500;
         font-size: 18px;
      }

      #datetimepicker3 {
         .btn {
            border-radius: 10px;
            font-size: 15px;
            background: @colorWindowBackground;
            border: 1px solid @colorBrown;
            color: @colorBrown;
         }
      }
   }

   .order-info {
      padding-top: 50px;
   }

   .order-next-step {
      margin-top: 20px;
      float: left;
      .btn {
         padding: 6px 30px;
      }
   }

   #google-maps {
      background: black;
      top: 0;
      right: 0;
      position: relative;
      height: 415px;
      width: 100%;
      float: right;
   }
}


