<% include ../common/header.ejs %>

<div class="main-container">
    <div class="content">
        <div class="header-info">Наші партнери та заклади</div>
        <div class="partners row">
            <div class="text col-xs-4">
                <p style="text-align: left; font-weight: bold; font-style: italic; font-size: 26px">Найпопулярніше
                    кафе</p>
                <p style="letter-spacing: normal; margin-top: 20px; text-align: justify">Невеличкий ресторан, де подають відвідувачам каву,
                    чай, закуски тощо. Кафе-кава (каварня) — спеціалізований заклад ресторанного господарства, який
                    пропонує споживачам широкий асортимент кавових напоїв. У меню включають найбільш популярні напої,
                    відомі у всьому світі: кава натуральна, кава капучино, кава еспресо, кава по-східному, кава-корретто
                    тощо. У кав'ярні споживачам можуть запропонувати й інші напої, які складають альтернативу кавовим —
                    від соків до міцних алкогольних. Кафетерій організовується переважно при великих продовольчих і
                    універсальних магазинах. Призначений для продажу і споживання на місці гарячих напоїв, молочнокислих
                    продуктів, бутербродів, кондитерських виробів та інших товарів, які не потребують складного
                    приготування.</p>
            </div>
            <div class="photo col-xs-8">
                <img src="assets/images/infopage_partner.jpg">
            </div>
        </div>
        <div id="googleMap"></div>
    </div>
</div>

<% include ../common/footer.ejs %>