
<footer>
    <div class="left-side-footer">
        КАВ'ЯРНЯ - це учбовий проект в рамках курсу НаУКМА.
        <br>
        Кав'ярень не існує, платежі не приймаються.
    </div>
    <div class="right-side-footer">

    </div>
</footer>

<div id="popups"></div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<% if(pageName === 'main') {%>
<script type="text/javascript" src="assets/js/mainPage.js"></script>
<% } else if(pageName === 'menu') {%>
<script type="text/javascript" src="assets/js/mainMenu.js"></script>
<% } else if(pageName === 'cart') { %>
<script type="text/javascript" src="assets/js/cartPage.js"></script>
<% } %>

</body>
</html>