<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <% if(pageName === 'main') { %>
    <link rel="stylesheet/less" type="text/css" href="assets/less/main/main.less"/>
    <% } else if(pageName === 'menu') { %>
    <link rel="stylesheet/less" type="text/css" href="assets/less/menu/menuMain.less"/>
    <% } else if(pageName === 'cart') { %>
    <link rel="stylesheet/less" type="text/css" href="assets/less/cart/cartPageMain.less"/>
    <% } else if(pageName === 'order') { %>
    <link rel="stylesheet/less" type="text/css" href="assets/less/order/orderPageMain.less"/>
    <% } else if(pageName === 'info') { %>
    <link rel="stylesheet/less" type="text/css" href="assets/less/info/infoPageMain.less"/>
    <% } else if(pageName === 'about') { %>
    <link rel="stylesheet/less" type="text/css" href="assets/less/about/aboutPageMain.less"/>
    <% } %>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


    <!--GOOGLE MAPS -->
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-TZ12vi38BRxcnXm83S16V3nRV6X7cJM"></script>

    <!--<script	src="//static.liqpay.com/libjs/checkout.js"></script>-->

    <link rel="shortcut icon" type="image/x-icon"
          href="http://download.seaicons.com/download/i6357/cute-little-factory/breakfast/cute-little-factory-breakfast-coffee-cup.ico"/>

</head>
<body>

<div class="header">
    <div class="header-inner">
        <a class="header-title link-header" id="to-main-page" href="/">КАВ'ЯРНЯ</a>

        <div class="header-buttons">
            •
            <a class="header-button link-header" id="menu-button" href="/menu.html">МЕНЮ</a>
            •
            <a class="header-button link-header" id="contacts-button" href="/info.html">ЗАКЛАДИ</a>
            •
            <a class="header-button link-header" id="about-button" href="/about.html">ПРО НАС</a>
            •
        </div>

        <% if(pageName !== 'cart' && pageName !== 'order') { %>
        <a class="cart-button" href="/cart.html">
            <img class="cart-img" src="assets/images/cart.png">
            <div class="items-count"></div>
        </a>
        <div id="cart_header">
            <div class="arrow-up arrow-black"></div>
            <div class="background">
                <div class="arrow-up"></div>

                <div id="header-cart-list"></div>

                <div class="sum">
                    <div class="sum-text">
                        Разом: 228 грн
                    </div>
                    <a class="btn btn-default make-order" href="\order.html">Замовити</a>
                </div>
            </div>
        </div>

        <% } %>
    </div>
</div>
