<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>

    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- LESS основний файл -->
    <% if(pageName === 'main') {%>
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less"/>
    <% } else if(pageName === 'menu') {%>
    <link rel="stylesheet/less" type="text/css" href="assets/less/menuMain.less"/>
    <% } %>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>


    <!--<script	type="text/javascript"-->
    <!--src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKjwJNN6zBykLLmrYdclfBaUT99QoncGo">-->
    <!--</script>-->

    <!--<script	src="//static.liqpay.com/libjs/checkout.js"></script>-->

    <link rel="shortcut icon" type="image/x-icon" href=""/>

</head>
<body>

<div class="header">
    <div class="header-inner">
        <a class="header-title link-header" id="to-main-page" href="">КАВ'ЯРНЯ</a>

        <div class="header-buttons">
            •
            <a class="header-button link-header" id="menu-button" href="">МЕНЮ</a>
            •
            <a class="header-button link-header" id="contacts-button" href="">ЗАКЛАДИ</a>
            •
            <a class="header-button link-header" id="sign-in-button" href="">УВІЙТИ</a>
            •
        </div>

        <div class="cart-button">
            <img class="cart-img" src="assets/images/cart.png">
            <div class="items-count"></div>
        </div>
        <div id="cart_header">
            <div class="arrow-up arrow-black"></div>
            <div class="background">
                <div class="arrow-up"></div>

                <div id="header-cart-list"></div>

                <div class="sum">
                    <div class="sum-text">
                        Разом: 228 грн
                    </div>
                    <a class="btn btn-default make-order">Замовити</a>
                </div>
            </div>
        </div>
    </div>
</div>
