<% include ../common/header.ejs %>

<div class="mainpage-container">
    <div class="parallax first-bg">
        <div class="content">
            <div class="coffee">Кава.</div>
            <div class="description">Прості радощі нашого життя.</div>
        </div>
    </div>
    <div class="first-content">
        <div class="content-header">
            Найсвіжіше для Вас та Ваших коханих.
        </div>
        <div class="content">
            <div class="coffee">Coffee</div>
            <div class="cocoa">Cocoa</div>
            <div class="tea">Tea</div>
        </div>
    </div>
    <div class="parallax second-bg">
        <div class="content">
            <div class="coffee">Кава.</div>
            <div class="description">Прості радощі нашого життя.</div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>