<% include ../common/header.ejs %>

<div class="mainpage-container">
    <div class="parallax first-bg">
        <div class="content">
            <div class="coffee">Кава.</div>
            <div class="description">Прості радощі нашого життя.</div>
        </div>
    </div>
    <div class="first-content">
        <div class="content-header">
            Найсвіжіше для Вас та Ваших коханих.
        </div>
        <div class="content">
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/latte.jpg"></a>
                    <div class="text">Coffee</div>
                </div>
            </div>
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/cocoa.jpg"></a>
                    <div class="text">Cocoa</div>
                </div>
            </div>
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/tea.jpg"></a>
                    <div class="text">Tea</div>
                </div>
            </div>
        </div>
        <a href="/menu.html" class="btn btn-default">Дивитися меню</a>
    </div>
    <div class="parallax second-bg">
    </div>
    <div class="first-content">
        <div class="content-header">
            Найсвіжіше для Вас та Ваших коханих.
        </div>
        <div class="content">
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/latte.jpg"></a>
                    <div class="text">Coffee</div>
                </div>
            </div>
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/cocoa.jpg"></a>
                    <div class="text">Cocoa</div>
                </div>
            </div>
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/tea.jpg"></a>
                    <div class="text">Tea</div>
                </div>
            </div>
        </div>
        <a href="/menu.html" class="btn btn-default">Дивитися меню</a>
    </div>
</div>

<% include ../common/footer.ejs %>