<% include ../common/header.ejs %>

<div class="mainpage-container">
    <div class="parallax first-bg">
        <div class="content">
            <div class="coffee">Кава.</div>
            <div class="description">Прості радощі нашого життя.</div>
        </div>
    </div>
    <div class="first-content">
        <div class="content-header">
            Найсвіжіше для Вас та Ваших коханих.
        </div>
        <div class="content">
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/latte.jpg"></a>
                    <div class="text">Coffee</div>
                </div>
            </div>
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/cocoa.jpg"></a>
                    <div class="text">Cocoa</div>
                </div>
            </div>
            <div class="item col-xs-4">
                <div class="inner">
                    <a href="/menu.html"><img src="assets/images/tea.jpg"></a>
                    <div class="text">Tea</div>
                </div>
            </div>
        </div>
        <div class="outer">
            <a href="/menu.html" class="btn btn-default">Дивитися меню</a>
        </div>
    </div>
    <div class="parallax second-bg">
    </div>
    <div class="second-content">
        <div class="content">
            <div class="about col-xs-12">
                <div class="text col-xs-6">
                    <p style="text-align: left; font-weight: bold; font-style: italic; font-size: 32px">О нас</p>
                    <p style="font-weight: bold; text-align: left; font-size: 32px">Наша функція</p>
                    <p style="letter-spacing: normal; margin-top: 20px">Это раздел «О нас». Самое место рассказать вашу
                        историю и объяснить,
                        чем вы занимаетесь. Если вы владелец бизнеса, напишите, как все начиналось, как вам пришла в
                        голову
                        та самая идея и к чему это привело. Людям будет интересно увидеть в вас реальную личность,
                        поэтому
                        не бойтесь делиться настоящими случаями из жизни. Расскажите о ваших ценностях и чем вы
                        отличаетесь
                        от конкурентов.</p>
                </div>
                <div class="photo col-xs-6">
                    <img src="assets/images/content_photo_1.jpg">
                </div>
            </div>
            <div class="quality col-xs-12">
                <div class="photo col-xs-6">
                    <img src="assets/images/content_photo_2.jpg">
                </div>
                <div class="text col-xs-6">
                    <p style="text-align: left; font-weight: bold; font-style: italic; font-size: 32px">Продукти</p>
                    <p style="font-weight: bold; text-align: left; font-size: 32px">без глютену</p>
                    <p style="letter-spacing: normal; margin-top: 20px">Это текст. Нажмите один раз и выберите
                        «Редактировать текст» или просто кликните дважды, чтобы добавить свой текст и настроить шрифт.
                        Вы можете переместить его в любое место на странице. Расскажите посетителям сайта о себе.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax third-bg">
        <div class="content">
            <div class="description">Почни день зі стакану холодної</div>
            <div class="coffee">Кави.</div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>