@import "../common/common";

.top-row {
   padding-top: 100px;

   .left {
      .text {
         font-size: 25px;
         position: relative;
         left: 50%;
      }
   }

   .right {
      .clear-all {
         display: inline-block;
         position: relative;
         left: 50%;
         color: @colorBrown;
         font-size: 16px;
         text-decoration: underline;
         cursor: pointer;
      }

      .clear-all:hover {
         color: #8a7b7b;
      }

      .clear-all:active {
         color: #363333
      }
   }
}

.items {

}