<% include ../common/header.ejs %>

<div class="container-fluid main-container">
    <div class="row top-row">
        <div class="text">
            Кошик
            <div class="counter">8</div>
        </div>
        <a class="clear-all">Очистити все</a>
    </div>
    <div class="row items"></div>
</div>
<div class="blank-panel"></div>

<div class="sum-panel fixed">
    <div class="sum-inner">
        <div class="sum-text">
            228
        </div>
        <a class="btn btn-default make-order">Замовити</a>
    </div>
</div>

<% include ../common/footer.ejs %>