<% include ../common/header.ejs %>

<div class="container-fluid main-container">
    <div class="row top-row">
        <div class="left col-xs-6">
            <div class="text">CART</div>
        </div>
        <div class="right col-xs-6">
            <a class="clear-all">Clear all</a>
        </div>
    </div>
    <div class="row items">

        <div class="item">
            <img src="../../../Frontend/www/assets/images/americano.png">
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>