<div class="empty">
    <img src="assets/images/cart_empty.png">
    <h1 class="label-empty">В кошику пусто</h1>
    <div class="label-empty">Схоже у Вас ще немає товарів у кошику</div>
    <a class="to_menu" href="/menu.html">У меню</a>
</div>