.footer {
   z-index: 2;
   border-top: 1px solid #d6d6d6;
   background: linear-gradient(#ffffff, #f0f3ee);
   text-align: center;
   line-height: 25px;
   font-size: 14px;
   padding: 20px @rightPanelWidth 20px 0;
   color: #767876;

   position: absolute;
   right: 0;
   bottom: 0;
   left: 0;
}